page-journey-initiation {

    #StartButton,
  #PauseButton {
    padding: 3%;
   // margin-top: 10%;
    }

    #StartButton {
        margin-left: 20%;
      }
      #PauseButton {
        margin-left: 30%;
    }

    #Results{
       //margin-top: 23%;
      // margin-top: 3%;
        text-align: center;
    }

    #journeyMap {
        height: 70%;
        //background-color: #53B4F5;
        margin: 2%;
      }

    h1 {
        //margin-top: 5%;
        text-align: center;
    }
}