side-bar {

    #sideDiv{
        width: 100%;
        height: 99%;
    }

    #sideBar{
        background-color: #53B4F5;
        width: 70%;
        height: 99%;
        position: absolute;
        margin-left: -70%;
        transition: 60ms ease-out !important;
 
    }

   

    #page{
        background-color: #53B4F5;
        display: inline-block;
        padding-top: 20px;
        padding-left: 30px;
    }

    #toggle{
        position: absolute;
    }

    #title{
        padding-top: 5%;
        padding-bottom: 4%;
        color: #FFFFFF;
        font-size: 3em;
        border-bottom: 5px solid #FFFFFF;
        width: 80%;
        margin-left: 10%;
    }

}

