page-login {
  #signBtn {
    padding: 8%;
    margin-top: 10%;
    margin-left: 15%;
  }
  #registerBtn {
    padding: 8%;
    margin-top: 10%;
    margin-left: 14%;
  }
  #signBoxesbtn {
    padding-top: 5%;
  }
}

.toast-container {
  background-color: white;
}
